body {
    padding-top: 5rem;
}

.form-control {
    width: 350px;
    height: 55px;
    margin: 20px;
    border: 1px solid #C9A975;
    border-radius: 2px;
    color: #032B38;
}

textarea#specialRequests {
    height: 100px;
}

button.btn.btn-primary.btn-block {
    width: 350px;
    height: 55px;
    border-radius: 0px;
    background-color: white;
    color: #032B38;
    font-size: 16px;
    border: 1px solid #C9A975;
    margin: 20px;
}

.form_container{
    width: 390px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-dark .navbar-nav .nav-link, .navbar-dark .navbar-brand{
    color: black;
}


.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark:hover .navbar-brand:hover{
    color: black;
}

nav.navbar.navbar-expand-lg.navbar-dark.fixed-top {
    filter: drop-shadow(2px 4px 6px #00000022);
    background-color: white;
    height: 70px;
}

a.nav-link.btn {
    background-color: #d7a159;
    margin: 0px 10px;
    color: white !important;
}

ul.navbar-nav.right {
    position: absolute;
    right: 5%;
}