table {
    width: 100%;
    padding: 30px;
}

th {
    height: 45px;
    text-align: inherit;
    padding: 0px 20px;
    font-weight: 500;
    color: #7b4fb2;
    background-color: #ffffff;
    border-bottom: solid 4px #f6f8fa;
}

td {
    height: 45px;
    background-color: #ffffff;
    padding: 0px 15px;
    border-bottom: solid 4px #f6f8fa;
    color: #8d8b90;
}

.first-td{
    border-left: solid 2px #7b4fb2;
}

select {
    background: whitesmoke;
    border: none;
    width: 105px;
    height: 45px;
    padding: 10px;
    border-radius: 10px;
}

:focus-visible {
    outline: none;
}


span.profile-picture {
    background-color: aliceblue;
    color: #bcbcbc;
    border-radius: 100%;
    padding: 8px;
    font-size: 30px;
}

td.customer-credentials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0;
}

.view-order-invoice-btn {
    border: none;
    background-color: white;
    color: #5b67b2;
    font-weight: 500;
}

::-webkit-scrollbar {
    width: 1px;
  }


.activeRow{
    background-color: #5b67b2;
}