{% extends "base.html" %}

{% block main%}

<h1 class="contact-page-heading">We'd <span>love</span> to hear from you</h1>
<p class="contact-page-message">Send us a message and we'll respond as soon as possible</p>


<div class="contact-form-container">

</div>


{% endblock%}

{% block css %} 
<style>
body {
    padding-top: 5rem;
    background-color: white !important;
}

h1.contact-page-heading, p.contact-page-message{
    text-align: center;
    color: #003049;
}
h1.contact-page-heading{
    margin-top: 30px;
}
</style>


{% endblock%}