<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-b" href="{{ url_for('home') }}"><img src="{{ url_for('get_image', filename='logo.png') }}" id="sdullogo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('viewmenu') }}">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Upcoming Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Food Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contact') }}">Contact Us</a>
        </li>
        
        
      </ul>

      <ul class="navbar-nav right">
        
        {% if current_user.is_authenticated %}
        
          <div style="display: inline;">
            <i onclick="openCart()" class='bx bx-cart b' id="clickbait"></i>
            <span class="notifCount" id="notifCountCart"></span>
          </div>
          <i class='bx bx-bell b' ></i>
          <i class='bx bx-chevron-down' onclick="show('customer-profile-nav-id')"></i>
          <li class="nav-item">
            <a class="nav-link" >
              <img src="{{ url_for('get_image', filename='demitri.png') }}" class="profile-image" onclick="show('customer-profile-nav-id')">
            </a>
          </li>

          <div  id="customer-profile-nav-id" class="customer-profile-nav">
            <!-- <li class="nav-item"><a class="nav-link b" href="{{ url_for('logout') }}">Profile Settings</a></li> -->
            <li class="nav-item"><a class="nav-link b" href="{{ url_for('myprofile') }}">View Profile</a></li>

            <hr>
            <li class="nav-item"><a class="nav-link b" href="{{ url_for('home') }}"><i class='bx bx-message-alt-detail'></i>  Messages</a></li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('bookevent') }}"><i class='bx bx-calendar'></i>  Book Event</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('makereservations') }}"><i class='bx bx-bookmark-alt-plus'></i>  Make Reservations</a>
            </li>

            <hr>
            <li class="nav-item"><a class="nav-link b" href="{{ url_for('logout') }}">Logout</a></li>
            
          </div>

          <div id="cartContainer">
            
            
          </div>

        {% else %}
            <li class="nav-item">
                <a class="nav-link btn" href="{{ url_for('login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link btn" href="{{ url_for('createAccount') }}">Create Account</a>
            </li>
        {% endif %}
    </ul>
    </div>
  </div>
</nav>