{% extends "base.html" %}

{%block main%}

    <form action="{{ url_for('makereservations') }}" method="post">

        <div class="form_container">
            {{form.csrf_token}}
            {{form.reservationsType(class="form-control")}}<i role="presentation" class="open-indicator"></i>
            {{form.session(class="form-control")}}
            {{form.expectGuestCount(class_="form-control", placeholder="How many guests?")}}
            {{form.tableCount(class_="form-control", placeholder="No. of Tables")}}
            
            {{form.reservationsDate(class="form-control", placeholder="Reservations Name")}}
            
            {{form.reservationsTime(class_="booking-time-container")}}
            {{form.phonenumber(class_="form-control", placeholder="Phone Number")}}
            {{form.specialRequests(class_="form-control", placeholder="Special Requests")}}

            <button type="submit" name="submit" class="btn btn-primary btn-block">BOOK EVENT</button>

        </div>

    </form>
{%endblock%}