

<ul class="nav-side-bar">
    <li>
        <a id="dashboard-nav-option" class="nav-link" href="{{ url_for('mdashboard') }}">
            <i class='bx bxs-dashboard'></i>
            <span> Dashboard</span> 
        </a>
    </li>

    <li>
        <a id="notifs-nav-option" class="nav-link" href="{{ url_for('mnotifications') }}">
            <i class='bx bx-notification'></i>
            <span> Messages</span>
            <span class="notificationsCount"> 1</span>
        </a>        
    </li>


    <li>
        <a id="menus-nav-option" id="menu-manager-link" class="nav-link" href="{{ url_for('mmenu') }}">
            <i class='bx bx-food-menu' ></i>
            <span> Menu Management</span> 
        </a>
    </li>
    <li>
        <a id="orders-nav-option" class="nav-link" href="{{ url_for('morders') }}">
            <i class='bx bx-cart' ></i>
            <span> Orders</span> 
        </a>
    </li>
    <li>
        <a id="event-nav-option" id="event-nav-option" class="nav-link" href="{{ url_for('mevents') }}">
            <i class='bx bx-calendar-event' ></i>
            <span> Events</span>
        </a>
    </li>
    <li>
        <a id="reservations-nav-option" class="nav-link" href="{{ url_for('mreservations') }}">
            <i class='bx bx-calendar-event' ></i>
            <span> Reservations</span>
            
        </a>
    </li>

    <li>
        <a id="customers-nav-option" class="nav-link" href="{{ url_for('mcustomers') }}">
            <i class='bx bxs-user-detail' ></i>
            <span> Customers</span>
        </a>        
    </li>

    <li>
        <a class="nav-link" href="{{ url_for('logout') }}">
            <i class='bx bx-log-out' ></i>
            <span> Logout</span>
        </a>
    </li>

</ul>

<div class="admin-credentials">
    <img src="{{ url_for('get_image', filename='demitri.png') }}" class="profile-image">
    <div>
        <p class="nav-view-title" style="color:#b297e9;">Demitri Grant</p>
        <p class="nav-view-email">demitri.grant@gmail.com</p>
    </div>
</div>


<!-- 



{% block scripts %}
  <script>
    $(document).ready(function () {
      $('#customer-events-table').DataTable({
        columns: [
          null,
          {searchable: false},
          {orderable: false, searchable: false},
          {orderable: false, searchable: false},
          null],
      });
    });
  </script>
{% endblock %} -->