{% extends "managementBase.html" %}

{% block main %}


<div class="table-container">
    <p><h1 class="header-trail" style="color:#b297e9;">Managent System |  <span style="color:#6949a9;margin-left: 10px;"> Manage Orders</span></h1></p>

    <table id="customer-orders-table">
        
        <tr>
            <th>Invoice</th>
            <th>Date</th>
            <th>Status</th>
            <th>Customer</th>
            <th>Price</th>
            <th></th>
        </tr>
        <tr>
            <td> <input type="checkbox" name="" id=""> INV-3066</td>
            <td>Jan 6, 2022</td>
            <td>
                <select name="" id="">
                    <option value="pending" selected>pending</option>
                    <option value="pending">approved</option>
                    <option value="pending">waiting</option>
                    <option value="pending">cancelled</option>
                </select>
            </td>
            <td class="customer-credentials">
                <span class="profile-picture">DG</span>
                <div>
                    <span style="display: block;">Demitri Grant</span>
                    <span style="display: block;">demitri.grant@gmail.com</span> 
                </div>
                
            </td>
            <td>$10,000.00 JMD</td>
            <td>
                <button class="view-order-invoice-btn">View Invoice</button>
            </td>
        </tr>
    </table>
</div>    

{% endblock %}

{% block js %}
  <script>
    $('#orders-nav-option').toggleClass('active');
  </script>
{% endblock %}




